<!DOCTYPE html>
<html>
<head>
  <% include ../includes/header.ejs %>
  
</head>

<body>
  <% include ../includes/nav.ejs %>
<div class="jumbotron text-center">
  <div class="container">
    <h1><%= title %></h1>
    <p>This is the placeholder for Team Activity 03</p>
  </div>
</div>
<div class="container">

  <div class="item-list">
  <ul>
    <% item.forEach(item => { %>
      <div style="padding: 3px; outline: black 1px; display: block;">
        <p>
          <%= item.name %>
        </p>
        <p>
          <%= item.price %>
        </p>
        <p>
          <%= item.description %>
        </p>
        <img width="250" src="<% item.imageUrl %>">

      </div>
    
   
  });
  </ul>
 </div>
  
</div>


</body>
</html>
